.btn{
    padding: 10px 32px;
    background-color: lightgray;
    color:white;
    border:none;
    border-radius: .5em;
    &:hover{
        cursor: pointer;
        opacity: 0.9;
    }
}
.primary{
    background-color: #007bfe;
}